<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mybakery.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My bakery</name>
    <description>Retrouvez toutes les meilleures boulangeries en France sur My bakery.</description>
    <author email="contact@my-bakery.fr" href="https://my-bakery.fr">
        Dev72
  </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <preference name="BackgroundColor" value="0xffffff" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SplashScreen" value="none" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="GRADLE_VERSION" value="8.4" />
    <plugin name="cordova-plugin-firebase" spec="^2.0.0" />
    <plugin name="cordova-android-play-services-gradle-release" spec="^4.0.0">
        <variable name="play-services-location" value="17.0.0" />
    </plugin>
</widget>
